
    <div class="text-center">
        <h1>Let's get you connected and <span class="text-danger">chat</span> with orther
            <span class="text-info">people</span>
        </h1>
    </div>
    
    <div class="d-flex justify-content-center mt-5">
        <div class="col-12 col-lg-5">
            <main class="form-signin">
                <form class="p-3 border">
                    <h3>Choose your name</h3>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Name">
                        <label for="name">Name</label>
                    </div> 
                    <div class="d-grid mt-4 px-4">
                        <button class="btn btn-warning" type="submit">Submit</button>
                    </div> 
                </form>
            </main>
        </div>
    </div>


